* {
    text-align: center;
}

.index-body {
    display: flex;
    flex-direction: column;
    margin: 5vmin 20vmin 0 0;
    align-items: flex-end;
    background-image: url('https://i.imgur.com/BXpZkoR.png');
    background-size: 100vw;  
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 10vmin;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}

#game-page-title {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 9vmin;
    margin-top: 1vmin;
}

h5 {
    font-size: 2.5vmin;
    font-family: 'Roboto', sans-serif;
    margin-top: 1vmin;
}

button {
    border-radius: 5vmin;
    padding: 1vmin 1.5vmin;
    font-size: 3vmin;
    margin-top: -1vmin
}

#cards > div:hover {
    transform: scale(1.2);
}

#cards {
    display: grid;
    margin-top: -5vmin;
    grid-template-columns: repeat(6, 20vmin);
}

#game-page-title {
    margin-bottom: -2vmin;
    margin-top: 0.5vmin;
}

#guesses-left {
    font-size: 10vmin;
    font-family: 'Roboto', sans-serif;
}

.win-lose-msg {
    display: flex;
    flex-direction: column;
}

#game-page-text {
    width: 118vmin;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vmin;
}