* {
    text-align: center;
}

.index-body {
    display: flex;
    flex-direction: column;
    margin: 0 20vmin 0 0;
    align-items: flex-end;
    background-size: 100vw;  
    background-repeat: no-repeat;
    background-color: white;
    color: #FFD9DA;
}

.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 15vmin;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    text-align: right;
    line-height: 15vmin;
}

#game-page-title {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 9vmin;
    margin-top: 1vmin;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 4vmin;
}

h5 {
    font-size: 2.75vmin;
    font-family: 'Roboto', sans-serif;
    margin-top: 2vmin;
}

button {
    border-radius: 5vmin;
    padding: 1vmin 1.5vmin;
    font-size: 3vmin;
    margin-top: -1vmin;
    font-family: 'Roboto', sans-serif;
    border: .3vmin solid rgba(113, 69, 78, 0.523);
    color: rgba(113, 69, 78, 0.838);
    background-color: #f8ededdc;
}

#cards > div:hover {
    transform: scale(1.2);
}

#cards > div {
    filter: drop-shadow(0 0 0.35rem rgba(136, 83, 93, 0.611));
}

#cards {
    display: grid;
    margin-top: -5vmin;
    grid-template-columns: repeat(6, 21vmin);
}

#game-page-title {
    margin-bottom: -2vmin;
    margin-top: 0.5vmin;
}

#guesses-left {
    font-size: 10vmin;
    font-family: 'Roboto', sans-serif;
}

#game-page-text {
    width: 122vmin;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vmin;
    margin-right: 3vmin;
}

.play-again-btn {
    margin-top: 4vmin;
}

button:hover {
    transform: scale(.9);
}

#match-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#match-names {
    width: 12vmin;
    margin-right: 8vmin;
    margin-left: 12vmin;
    margin-top: -10vmin;
}

#show-name {
    width: 12vmin;
    margin-left: 0;
    margin-right: 20vmin;
    margin-top: -10vmin;
}

#mtf-logo {
    height: 30vmin;
    margin: 5vmin 55vw 0 0;
}

#mtf-logo-win, #mtf-logo-lose {
    height: 30vmin;
    margin: 23vmin 55vw 0 0;
}